<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

</head>
<body>

<h1>Hello, You have requested to reset the password for your DeedMed account.
    This is the verification code : <%= data.code %></h1>

</body>
</html>
